<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Kryxivia/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="w0dm4n" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>